Repository SwissDataScienceCenter/renku-python, pull requests merged in 2018-07, with the labels that each got.

#238 cwl: support for initial work dir requirement
  renku/models/_datastructures.py
  renku/models/cwl/command_line_tool.py
  renku/models/cwl/process_requirements.py
  renku/models/cwl/types.py
  tests/test_cli.py
Labels: enhancement

#244 docs: alternative installations
  README.rst
Labels: docs

#245 docs: document --with-siblings option
  renku/cli/_options.py
  renku/cli/rerun.py
  renku/cli/update.py
Labels: docs

#246 graph: resolve paths in submodules
  renku/cli/_ascii.py
  renku/cli/_graph.py
Labels: bug

#247 cli: output formats for log
  renku/cli/.gitlab-ci.yml
  renku/cli/log.py
  renku/models/cwl/command_line_tool.py
  setup.py
  tests/test_cli.py
Labels: enhancement

#248 cli: move all outputs after rerun
  renku/cli/rerun.py
Labels: bug

#268 gitlab-ci: use docker:stable for image build
  renku/cli/.gitlab-ci.yml
Labels: enhancement

#267 errors: better message for unmodified outputs
  renku/errors.py
Labels: enhancement
