Repository SwissDataScienceCenter/renku-python, pull requests merged in 2019-02, with the labels that each got.

#413 api: get git attrs for files to prevent duplicates
  renku/api/_git.py
  renku/api/storage.py
Labels: enhancement

#414 log: adding reduced dot format
  renku/cli/_format.py
Labels: enhancement

#427 fix: removes typo causing wrong path resolution
  renku/cli/_checks/files_in_datasets.py
Labels: bug

#423 test(fixture): add fixture for old repository with corresponding tests
  MANIFEST.in
  conftest.py
  tests/fixtures/test-renku-v0.3.0.git.tar.gz
  tests/test_cli.py
Labels: needs :hand: testing
