Repository SwissDataScienceCenter/renku-python, pull requests merged in 2020-01, with the labels that each got.

#912 fix: extended gunicorn worker timeout
  Dockerfile.svc
Labels: bugfix, enhancement

#907 feat: set dataset url for non imported datasets
  .github/pr_labels.yml
  renku/core/models/datasets.py
Labels: documentation:pending

#927 feat: improve dataset command output
  renku/cli/dataset.py
  renku/core/commands/dataset.py
  renku/core/commands/format/dataset_files.py
  renku/core/commands/format/datasets.py
  renku/core/commands/format/tabulate.py
  renku/core/models/datasets.py
  renku/core/models/tabulate.py
  renku/service/views/datasets.py
  tests/cli/test_datasets.py
  tests/cli/test_integration_datasets.py
Labels: documentation:pending

#911 feat: better UX when adding to a dataset
  renku/cli/dataset.py
  renku/core/commands/dataset.py
  renku/core/management/datasets.py
  tests/cli/test_integration_datasets.py
Labels: documentation:pending

#970 chore: add automerge action
  .github/workflows/automerge.yml
Labels: automerge
