Repository SwissDataScienceCenter/renku-python, pull requests merged in 2020-03, with the labels that each got.

#1003 feat: new migration mechanism
  renku/cli/__init__.py
  renku/cli/dataset.py
  renku/cli/migrate.py
  renku/core/commands/checks/__init__.py
  renku/core/commands/checks/datasets.py
  renku/core/commands/checks/githooks.py
  renku/core/commands/checks/migration.py
  renku/core/commands/checks/references.py
  renku/core/commands/dataset.py
  renku/core/commands/doctor.py
  renku/core/commands/echo.py
  renku/core/commands/migrate.py
  renku/core/errors.py
  renku/core/management/datasets.py
  renku/core/management/migrate.py
  renku/core/management/migrations/__init__.py
  renku/core/management/migrations/m_0003__1_jsonld.py
  renku/core/management/migrations/m_0003__2_initial.py
  renku/core/models/datasets.py
  renku/core/models/jsonld.py
  renku/core/models/migrations/dataset.py
  renku/core/models/projects.py
  renku/core/models/refs.py
  tests/cli/test_integration_datasets.py
  tests/cli/test_migrate.py
  tests/core/commands/test_serialization.py
  tests/fixtures/broken-dataset-v0.5.2.yml
Labels: documentation:pending

#1111 feat(dataset): metadata edit
  renku/cli/dataset.py
  renku/core/commands/dataset.py
  renku/core/commands/format/dataset_files.py
  renku/core/commands/format/datasets.py
  renku/core/errors.py
  renku/core/management/datasets.py
  renku/core/models/datasets.py
  renku/core/models/provenance/agents.py
  tests/cli/test_datasets.py
  tests/core/models/test_agents.py
Labels: documentation:pending

#1124 feat(dataset): bypass import confirmation
  renku/cli/dataset.py
  renku/core/commands/dataset.py
  tests/cli/test_integration_datasets.py
Labels: documentation:pending

#1130 fix(dataset): --no-external-storage flag not working
  renku/core/management/storage.py
  tests/cli/test_integration_datasets.py
  tests/core/commands/test_cli.py
Labels: documentation:pending

#1137 chore: bump template version
  setup.py
  tests/core/commands/test_init.py
Labels: automerge

#1138 chore: update changelog for 0.10.0
  CHANGES.rst
Labels: automerge

#1127 feat: renku init options refactor
  conftest.py
  renku/cli/init.py
  renku/core/commands/init.py
  tests/cli/test_errors.py
  tests/cli/test_init.py
  tests/core/commands/test_cli.py
  tests/core/commands/test_init.py
Labels: automerge, documentation:pending

#1157 chore: bump template version
  setup.py
  tests/core/commands/test_init.py
Labels: automerge
